.profile {
    padding-bottom: 0;
}

.profile__userInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--color-separator);
}

.profile__userPhoto {
    flex-basis: 80px;
}

.profile__userPhoto img {
    border-radius: 50%;
}

.profile__userName {
    flex-basis: calc(100% - 80px - 20px);
}

.profile__userName h2 {
    margin-bottom: 20px;
}

.profile__userName a {
    background-color: var(--color-separator);
}

.profile__userActions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile__userBio {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profile__postsQt {
    color: var(--color-secondary-text);
}