.auth {
    max-width: 480px;
    margin-inline: auto;
}

.auth__wrapper.first {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-separator);
}

.auth__wrapper.last {
    padding-top: 40px;
    text-align: center;
}

.auth__title {
    text-align: center;
    margin-bottom: 40px;
}

.auth__title h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .auth__wrapper {
        padding: 40px;
        border: 1px solid var(--color-separator);
    }

    .auth__wrapper.first {
        margin-bottom: 10px;
    }
}