.trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
    background-color: var(--color-secondary-button-disabled);
    border-radius: 5px;
    margin-top: 20px;
}

.trigger.error {
    background-color: var(--color-primary-background-error);
}

.trigger.success {
    background-color: var(--color-primary-background-success);
}