#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root main {
  flex-grow: 1;
}

.button {
  border: none;
  background-color: var(--color-primary-button);
  padding: 10px 24px;
  border-radius: 5px;
  color: var(--color-primary-text);
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition);
}

.button:hover {
  opacity: 1;
}

.button.clear {
  padding: 0;
  background: none;
}