#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root main {
  flex-grow: 1;
}

.button {
  border: none;
  background-color: var(--color-primary-button);
  padding: 10px 24px;
  border-radius: 5px;
  color: var(--color-primary-text);
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition);
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

.button.not-highlighted {
  background-color: var(--color-primary-border);
}

.button.small {
  padding: 6px 14px;
}

.button.clear {
  padding: 0;
  background: none;
}

.button:disabled, .button.disabled {
  background-color: var(--color-secondary-button);
  cursor: not-allowed;
}

.button:disabled:hover, .button.disabled:hover {
  opacity: 0.8;
}

.main-navigation-link.active {
  color: var(--color-primary-button);
}

.bordered-wrapper {
  padding-block: 30px;
}

.bordered-wrapper.first {
  padding-top: 0;
}

.bordered-wrapper.last {
  border-top: 1px solid var(--color-primary-border);
  padding-bottom: 0;
}

.bordered-wrapper.unique {
  padding-block: 0;
}

.form-button-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form-button-wrapper button {
    flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .bordered-wrapper, .bordered-wrapper.unique {
    padding: 40px;
    border: 1px solid var(--color-primary-border);
  }

  .bordered-wrapper:not(.last) {
    margin-bottom: 40px;
  }

  .bordered-wrapper.unique {
    margin: 0;
  }
}