@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary-background: #000;
  --color-primary-text: #F5F5F5;
  --color-primary-button: #0095F6;
  --color-primary-border: #555555;
  --color-secondary-background: #363636;
  --color-secondary-text: #737373;
  --color-secondary-button: #BBB;
  --color-red-text: #CF1D23;
  --color-red-background: #F38291;
  --color-green-text: #008800;
  --color-green-background: #85F7A1;
  --color-overlay: rgba(0, 0, 0, 0.5);

  --font-roboto: "Roboto", sans-serif;
  --font-kaushan: "Kaushan Script", cursive;

  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  font-family: var(--font-roboto);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

svg {
  vertical-align: middle;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

input,
textarea {
  background-color: var(--color-secondary-background);
  color: var(--color-primary-text);
  padding: 10px;
  border: 1px solid var(--color-primary-border);
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  display: block;
}

input:disabled,
textarea:disabled,
input.disabled,
.disabled {
  background-color: transparent;
  color: var(--color-secondary-text);
  cursor: not-allowed;
}

section {
  padding-block: 60px;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}