@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #2A2A2A;
    --color-secondary: #615f5f;
    --color-text: #F5F5F5;
    --color-text-secondary: #b1b1b1;
    --color-accent: #E04646;
    --color-accent-secondary: #4378ec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    background-color: var(--color-secondary);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}

input::placeholder, textarea::placeholder {
    color: var(--color-text-secondary);
}

button {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-accent-secondary);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}