.header {
    padding-block: 10px;
    border-bottom: 1px solid var(--color-primary-border);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary-background);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header__logo a {
    font-size: 1.2rem;
}

.header__navigation {
    margin-left: auto;
}

.header__navigationLinks {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header__profileImage {
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    vertical-align: middle;
}

.header__searchWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-background);
    display: none;
}

.header__searchWrapper.open {
    display: block;
}

.header__searchWrapper form,
.header__searchWrapper input,
.header__searchForm {
    width: 100%;
    height: 100%;
}

.header__searchWrapper input {
    padding-left: 30px;
}

.header__searchForm {
    max-width: 576px;
    margin-inline: auto;
    padding: 10px 20px;
    position: relative;
}

.header__searchIcon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: var(--color-secondary-text);
}

.header__searchClose {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    .header__navigationLinks {
        column-gap: 20px;
    }
}

@media screen and (min-width: 992px) {
    .header__logo a {
        font-size: 1.4rem;
    }
    
    .header__navigation {
        margin: 0;
        order: 3;
    }
    
    .header__search {
        order: 2;
    }

    .header__searchOpen {
        display: none;
    }

    .header__searchWrapper {
        display: block !important;
        position: relative;
        width: auto;
        height: auto;
        background: none;
    }

    .header__searchForm {
        padding: 0;
    }

    .header__searchIcon {
        left: 10px;
    }

    .header__searchClose {
        display: none;
    }
}